.tip-container{
    position:relative;
}
.absolute{
    position:absolute;
}
.purikura{
    border-radius: 50%;
    width:130px;
    height:130px;
    background-size: 100% 100%;
}
.far-bottom{
    margin-bottom:10px;
}
.far-top{
    margin-top:10px;
}
.top-container{
    margin-top:20px;
    margin-bottom:20px;
    color:white;
}
.bottom-border:after{
    content: "";
    width:150%;
    height:1px;
    background: #fff;
    position:absolute;
    bottom:-5px;
    left:-25%;
}
.quick-container{
    padding:10px 10px;
    float: left;
}
.quick-btn{
    height:138px;
    line-height:138px;
    text-align: center;
    display: block;
    color:white;
}
.quick-btn:hover{
    -webkit-box-shadow: 3px 3px 10px #888888;
    -moz-box-shadow: 3px 3px 10px #888888;
    box-shadow: 3px 3px 10px #888888;
}
.bg-green{
    background:rgba(0, 204, 102, 1);
}
.bg-pink{
    background: rgba(255, 51, 102, 1);
}
.bg-yellow{
    background: rgba(255, 188, 0, 1);
}

label {
    /*font-weight: 500;*/
}

body {
    background-color: #f1f1f1;
}
.far-left{
    margin-left:20px;
}
.fine{
    font-weight: 500;
}
#page-wrapper {
    min-height: 0;
}

.clear-padding {
    padding: 0;
}

.clear-margin {
    margin: 0;
}

.top {
    position: fixed;
    top: 0;
    height: 100%;
}

.logo {
    width: 120px;
    height: 120px;
}

.name {
    font-size: 28px;
}

.word-white {
    color: white;
}

.hdwx-bg {
    background: #2f3541;
}

.hdwx-color {
    background: #00cb66;
}

.bottom-white {
    border-bottom: 1px solid white;;
}

.word-sm {
    font-size: 13px;
}

.icon-btn {
    top: -10px;
}

.icon-btn:hover {
    color: green;
}

.icon {
    top: -33px;
    left: -10px;
}

.pointer:hover {
    cursor: pointer;;
}

.active-menu, .active-menu i {
    background-color: #00cb66 !important;
    color: white !important;
}

ul.nav li:hover {
    cursor: pointer;
}

.attach-left:before {
    content: "";
    width: 2px;
    display: inline-block;
    height: 10px;
    background-color: white;
    position: relative;
    left: -3px;
    top: 1px;
}

.attach-top {
    position: relative;
    top: -20px;
}

.content {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 618px;
}

.hdwx-form-lg{
    width:900px;
}
.hdwx-input-sm {
    width: 300px;
}

.content-top {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 5px #a5a5a5;
    background: white;
}

.item {
    box-shadow: 0px 5px 5px #a5a5a5;
}

.title {
    /*font-size: 32px;
    margin-left: 10px;*/
    position:relative;
}
.title:before{
    content:'';
    display: inline-block;
    width:5px;
    height:30px;
    position: absolute;
    border-radius: 2px;
    top:17px;
    left:5px;
    background: #bebebe;
}
.oprater-div {
    width: 20%;
    height: 120px;
    margin: 10px 10px 10px 10px;
    line-height: 130px;
    text-align: center;
    color: white;
    font-size: 16px;
    border-radius: 3px;
    position: relative;
    display: block;
}

.oprater-div:hover {
    box-shadow: 10px 10px 20px #dedede;
    cursor: pointer;
}

.bg-red {
    background: #fc3366;
}

.bg-orange {
    background: #fd9002;
}

.bg-blue {
    background: #0098cb;
}
.bg-fine-gray{
    background: #f1f1f1;
}
.bgwhite{
    background: white;
}
#page-wrapper {
    top: 0;
}

#page-inner {
    margin: 0;
}

.far-top {
    margin-top: 10px;
}
.far-bottom{
    margin-bottom: 20px;
}

.far-away-top {
    margin-top: 50px;
}

.tag {
    margin-left: 40px;
    float: left;
}

.progress {
    /*height: 40px;*/
}

.progress-bar {
    line-height: 40px;
    font-size: 16px;
}

.input-group-time {
    width: 300px;
}

td, th:hover {
    cursor: pointer;
}

td, th {
    text-align: center;
    white-space: nowrap;
}

.myhk_pjax_loading_frame  {
    position: fixed;
    top: 45%;
    left: 45%;
    display: none;
    z-index: 999999;
    width: 124px;
    height: 124px;
    background: url('../images/loading.gif') 50% 50% no-repeat;
}

.myhk_pjax_loading  {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #4c4c4c;
    opacity: .2;
}
.progress-loading{
    position: fixed;
    top:0px;
    left:0px;
    height:2px;
    z-index:999999;
    width:100%;
}
.big-img-none{
    width:200px;
    height:200px;
    background: #ECECEC;
    border:1px solid #4b8045;
    display: block;
}
#tables li.active a{
    width:200px;
    text-align: center;
    font-size:14px;
    color:white;
    background: #00cb66;
}
.form-item{
    width:45%;
    float:left;
}
.form-item-lg{
    width:86%;
    float:left;
    margin-left:20px;
}
.common-line-height{
    line-height: 34px;
}
.half{
    width:49%;
    float: left;
}
.div-move-in-top{
    position:relative;
    top:0;
    -webkit-animation: move-in-top cubic-bezier(0.4, 0, 1, 1) .5s;
    animation: move-in-top cubic-bezier(0.4, 0, 1, 1) .5s;
}
@keyframes move-in-top {
    from {top:30px;opacity: 0;}
    to {top:0px;opacity: 1;}
}
.nav-btn{
    position:absolute;
    left:258px;
    top:5px;
    overflow: hidden;
    font-size:20px;
    padding:5px 3px;
    border:2px #3E3E3E solid;
    border-radius: 0 5px 5px 0;


    -webkit-transition: opacity 1s,background 1s;
    -o-transition-property: background,opacity;
    -o-transition-duration: 1s,1s;
    -moz-transition-property: background,font-size,opacity;
    -moz-transition-duration: 1s,1s;
    transition-property: background,opacity;
    transition-duration: 1s,1s;

    z-index:10000;
}
.nav-btn:hover{
    opacity: 1;
    background: #fff;
    cursor: pointer;
}
.nav-hidden{
    left:-260px;
}
.closed{
    background: #1ec7e6;
}
.animate{
    opacity: 0;
}