.tip-container {
    position: relative;
}

.absolute {
    position: absolute;
}

.whole-container {
    position: fixed;
    z-index: 131414;
    top: 0;
    left: 30%;
    width: 40%;
    text-align: center;
}

.purikura {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background-size: 100% 100%;
}

.far-bottom {
    margin-bottom: 10px;
}

.far-top {
    margin-top: 10px;
}

.top-container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.ab-center {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.bottom-border:after {
    content: "";
    width: 150%;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: -5px;
    left: -25%;
}

.quick-container {
    padding: 10px 10px;
    float: left;
}

.quick-btn {
    height: 138px;
    line-height: 138px;
    text-align: center;
    display: block;
    color: white;
}

.quick-btn:hover {
    -webkit-box-shadow: 3px 3px 10px #888888;
    -moz-box-shadow: 3px 3px 10px #888888;
    box-shadow: 3px 3px 10px #888888;
}

.bg-green {
    background: rgba(0, 204, 102, 1);
}

.bg-pink {
    background: rgba(255, 51, 102, 1);
}

.bg-yellow {
    background: rgba(255, 188, 0, 1);
}

.bg-danger {
    background: #ff767e;
    color: white;
}

label, h3, h4, p {
    /*font-weight: 500;*/
    word-wrap: break-word;
    word-break: keep-all;
    overflow: hidden;
}

.far-left {
    margin-left: 20px;
}

.fine {
    font-weight: 500;
}

#page-wrapper {
    min-height: 0;
}

#count-down {
    font-size: 25px;
}

.clear-padding {
    padding: 0;
}

.clear-margin {
    margin: 0;
}

.img-sm {
    width: 40px;
    height: 40px;
}

.top {
    position: fixed;
    top: 0;
    height: 100%;
}

.logo {
    width: 120px;
    height: 120px;
}

.name {
    font-size: 28px;
}

.word-white {
    color: white;
}

.hdwx-bg {
    background: #2f3541;
}

.hdwx-color {
    background: #00cb66;
}

.bottom-white {
    border-bottom: 1px solid white;;
}

.word-sm {
    font-size: 13px;
}

.icon-btn {
    top: -10px;
}

.icon-btn:hover {
    color: green;
}

.icon {
    top: -33px;
    left: -10px;
}

.pointer:hover {
    cursor: pointer;;
}

.active-menu, .active-menu {
    background-color: #00cb66 !important;
    color: white !important;
}

ul.nav li:hover {
    cursor: pointer;
}

.attach-left:before {
    content: "";
    width: 2px;
    display: inline-block;
    height: 10px;
    background-color: white;
    position: relative;
    left: -3px;
    top: 1px;
}

.attach-top {
    position: relative;
    top: -20px;
}

.content {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 618px;
}

.hdwx-form-lg {
    width: 900px;
}

.hdwx-input-sm {
    width: 300px;
}

.content-top {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 5px #a5a5a5;
    background: white;
}

.item {
    box-shadow: 0px 5px 5px #a5a5a5;
}

.title {
    /*font-size: 32px;
    margin-left: 10px;*/
    font-family: inherit;
    color: #ff6a16 !important;
    font-weight: 500 !important;
    font-size: 25px !important;
    position: relative;
}

.show-pp-hidden {
    left: -10000px;
    top: 0px;
}

.title:before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 25px;
    position: absolute;
    top: 16px;
    left: 0;
    background: #ff6a16;
}

pre.banner {
    background-color: white;
    border: 1px solid #ebebeb;
    padding:10px;
}
textarea.pre{
    word-wrap:normal;
    word-break:break-all;
    overflow-x:auto;
    overflow-y: auto;
}

.oprater-div {
    width: 20%;
    height: 120px;
    margin: 10px 10px 10px 10px;
    line-height: 130px;
    text-align: center;
    color: white;
    font-size: 16px;
    border-radius: 3px;
    position: relative;
    display: block;
}

.oprater-div:hover {
    box-shadow: 10px 10px 20px #dedede;
    cursor: pointer;
}

.bg-red {
    background: #fc3366;
}

.bg-orange {
    background: #fd9002;
}

.bg-blue {
    background: #0098cb;
}

.bg-fine-gray {
    background: #f1f1f1;
}

.bg-white {
    background: white;
}

.bg-black {
    background: #3e3e3e;
}

.text-gray {
    color: #333;
}

#page-inner {
    padding-top: 0;
}

.far-top {
    margin-top: 10px;
}

.far-away-top {
    margin-top: 50px;
}

.tag {
    margin-left: 40px;
    float: left;
}

.progress {
    /*height: 40px;*/
}

.progress-bar {
    /*line-height: 40px;*/
    font-size: 16px;
}

.input-group-time {
    width: 300px;
}

td, th:hover {
    cursor: pointer;
}

td, th {
    /*text-align: center;*/
    /*white-space: nowrap;*/
}

.text-black {
    color: black !important;
}

.myhk_pjax_loading_frame  {
    position: fixed;
    top: 45%;
    left: 45%;
    display: none;
    z-index: 999999;
    width: 124px;
    height: 124px;
    /*background: url('${staticServePath}/images/loading.gif') 50% 50% no-repeat;*/
}

a:visited {
    text-decoration: none;
}

.right-border {
    min-height: 100%;
    border-right: 1px solid #cdcdcd;
}

a {
    color: #000000;
}

.res, .btn-res {
    font-size: 14px;
    color: #00cb66;
    position: relative;
    cursor: pointer;
}

.res:after, .btn-res:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #00cb66;
    top: 17px;
    left: 0;
}

.res:hover, .btn-res:hover {
    border: none;
    color: black;
}

.res:hover:after, .btn-res:after {
    height: 0;
}

.out-link {
    display: block;
    min-width: 90px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ECECEC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.progress-loading {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 2px;
    z-index: 999999;
    width: 100%;
}

.text-white {
    color: white;
}

.big-img-none {
    width: 200px;
    height: 200px;
    background: #ECECEC;
    border: 1px solid #4b8045;
    display: block;
}

#tables li.active a {
    width: 200px;
    text-align: center;
    font-size: 14px;
    color: white;
    background: #00cb66;
}

ul, li {
    list-style: none;
}

.select {
    margin-bottom: 5px;
}

.form-item {
    width: 45%;
    float: left;
}

.form-item-lg {
    width: 86%;
    float: left;
    margin-left: 20px;
}

.common-line-height {
    line-height: 34px;
}

.div-move-in-top {
    position: relative;
    top: 0;
    -webkit-animation: move-in-top cubic-bezier(0.4, 0, 1, 1) .5s;
    animation: move-in-top cubic-bezier(0.4, 0, 1, 1) .5s;
}

.div-move-out-top {
    position: relative;
    top: 0;
    -webkit-animation: move-out-top cubic-bezier(0.4, 0, 1, 1) .5s;
    animation: move-out-top cubic-bezier(0.4, 0, 1, 1) .5s;
}

@keyframes move-in-top {
    from {
        top: 30px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@keyframes move-out-top {
    from {
        top: 0px;
        opacity: 1;
    }
    to {
        top: 1px;
        opacity: 0;
    }
}

.panel_loading {
    padding: 40px 0;
}

.text-red {
    color: red;
}

.nav-btn {
    position: fixed;
    left: 5px;
    top: 5px;
    border: 2px #3E3E3E solid;
    border-radius: 5px;
    z-index: 10000;
}

.nav-btn:hover {
    cursor: pointer;
    border: 2px #fff solid;
}

.func:hover {
    cursor: pointer;
}

.nav-hidden {
    left: -260px;
}

.animate {
    opacity: 0;
}

.title-container {
    height: 60px;
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding: 0 20px;
}

.put-top {
    position: relative;
    top: -20px;
}

.front-line {
    position: relative;
}

.front-line:before {
    width: 5%;
    height: 1px;
    background: black;
    content: "";
    position: absolute;
    top: 50%;
    left: -5%;
}

.pjax_loading {
    background: white;
    position: fixed;
    left: 260px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
}

.operator-btn {
    display: block;
    float: left;
    margin: 5px 10px;
    padding: 0 10px;
    background: #eee;
    border-left: 1px solid #00cb66;
    border-right: 1px solid #00cb66;
    vertical-align: middle;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

.operator-btn:hover {
    cursor: pointer;
}

.td-check {
    width: 19px;
    height: 19px;
    position: relative;
    top: -10px;
}

ul.nav.nav-third-level.collapse.in {
    background: #131212;
}

i {
    background: rgba(0, 0, 0, 0);
}

.navToggle1 {
    position: absolute;
    width: 60px;
    height: 120px;
    top: 60px;
    left: 0px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.navToggle1 .icon-left {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 8px;
    width: 30px;
    top: 60px;
    background-color: #212121;
}

.navToggle1 .icon-left:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: -20px;
}

.navToggle1 .icon-left:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: 20px;
}

.navToggle1 .icon-left:hover {
    cursor: pointer;
}

.navToggle1 .icon-right {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 8px;
    width: 30px;
    top: 60px;
    background-color: #212121;
    left: 30px;
}

.navToggle1 .icon-right:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: -20px;
}

.navToggle1 .icon-right:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: 20px;
}

.navToggle1 .icon-right:hover {
    cursor: pointer;
}

.navToggle1.open .icon-left {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
}

.navToggle1.open .icon-left:before {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
    transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
}

.navToggle1.open .icon-left:after {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
}

.navToggle1.open .icon-right {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
}

.navToggle1.open .icon-right:before {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
}

.navToggle1.open .icon-right:after {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
    transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
}

.navToggle2 {
    position: absolute;
    width: 60px;
    height: 120px;
    top: 60px;
    left: 120px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.navToggle2 .icon {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 8px;
    width: 60px;
    top: 60px;
    background-color: #212121;
}

.navToggle2 .icon:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: -20px;
}

.navToggle2 .icon:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: 20px;
}

.navToggle2 .icon:hover {
    cursor: pointer;
}

.navToggle2.open .icon {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
}

.navToggle2.open .icon:before {
    -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(13px, 13px);
    transform: rotateZ(45deg) scaleX(1.25) translate(13px, 13px);
}

.navToggle2.open .icon:after {
    -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
    transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
}

.navToggle3 {
    position: absolute;
    width: 60px;
    height: 120px;
    top: 60px;
    left: 240px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.navToggle3 .icon {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 0px;
    width: 60px;
    top: 60px;
    background-color: #212121;
}

.navToggle3 .icon:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: -20px;
}

.navToggle3 .icon:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: 20px;
}

.navToggle3 .icon:hover {
    cursor: pointer;
}

.navToggle3.open .icon {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.navToggle3.open .icon:before {
    -webkit-transform: rotateZ(135deg) scaleX(1.25) translate(13px, -13px);
    transform: rotateZ(135deg) scaleX(1.25) translate(13px, -13px);
}

.navToggle3.open .icon:after {
    -webkit-transform: rotateZ(-135deg) scaleX(1.25) translate(12px, 12px);
    transform: rotateZ(-135deg) scaleX(1.25) translate(12px, 12px);
}

.navToggle4 {
    position: absolute;
    width: 60px;
    height: 120px;
    top: 60px;
    left: 360px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.navToggle4 .icon {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 0px;
    width: 60px;
    top: 60px;
    background-color: #212121;
}

.navToggle4 .icon:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: -20px;
}

.navToggle4 .icon:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: 20px;
}

.navToggle4 .icon:hover {
    cursor: pointer;
}

.navToggle4.open .icon {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.navToggle4.open .icon:before {
    -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(12px, 12px);
    transform: rotateZ(45deg) scaleX(1.25) translate(12px, 12px);
}

.navToggle4.open .icon:after {
    -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
    transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
}

.navToggle5 {
    position: absolute;
    width: 60px;
    height: 120px;
    top: 180px;
    left: 0px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.navToggle5 .icon {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 8px;
    width: 60px;
    top: 60px;
    background-color: #212121;
}

.navToggle5 .icon:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: -20px;
}

.navToggle5 .icon:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: 20px;
}

.navToggle5 .icon:hover {
    cursor: pointer;
}

.navToggle5.open .icon {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.navToggle5.open .icon:before {
    -webkit-transform: rotateZ(-45deg) scaleX(0.75) translate(-20px, -6px);
    transform: rotateZ(-45deg) scaleX(0.75) translate(-20px, -6px);
}

.navToggle5.open .icon:after {
    -webkit-transform: rotateZ(45deg) scaleX(0.75) translate(-20px, 6px);
    transform: rotateZ(45deg) scaleX(0.75) translate(-20px, 6px);
}

.navToggle6 {
    width: 32px;
    height: 35px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.navToggle6 .icon {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 3px;
    width: 20px;
    top: 15px;
    left: 5px;
    background-color: #fff;
}

.navToggle6 .icon:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: #fff;
    content: "";
    top: -8px;
    left: 0;
}

.navToggle6 .icon:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: #fff;
    content: "";
    top: 8px;
    left: 0;
}

.navToggle6 .icon:hover {
    cursor: pointer;
}

.navToggle6:hover .icon {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.navToggle6:hover .icon:before {
    -webkit-transform: rotateZ(45deg) scaleX(0.75) translate(20px, -10px);
    transform: rotateZ(45deg) scaleX(0.75) translate(20px, -10px);
    left: -12px;
}

.navToggle6:hover .icon:after {
    -webkit-transform: rotateZ(-45deg) scaleX(0.75) translate(20px, 10px);
    transform: rotateZ(-45deg) scaleX(0.75) translate(20px, 10px);
    left: -12px;
}

.navToggle6.open .icon {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.navToggle6.open .icon:before {
    -webkit-transform: rotateZ(45deg) scaleX(0.75) translate(20px, -10px);
    transform: rotateZ(45deg) scaleX(0.75) translate(20px, -10px);
    left: -12px;
}

.navToggle6.open .icon:after {
    -webkit-transform: rotateZ(-45deg) scaleX(0.75) translate(20px, 10px);
    transform: rotateZ(-45deg) scaleX(0.75) translate(20px, 10px);
    left: -12px;
}

.navToggle7 {
    position: absolute;
    width: 60px;
    height: 120px;
    top: 180px;
    left: 240px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.navToggle7 .icon-E {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 8px;
    width: 60px;
    top: 60px;
    background-color: #212121;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.navToggle7 .icon-E:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: -20px;
}

.navToggle7 .icon-E:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: 20px;
}

.navToggle7 .icon-E:hover {
    cursor: pointer;
}

.navToggle7 .icon-X {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 0px;
    width: 60px;
    top: 60px;
    background-color: #212121;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}

.navToggle7 .icon-X:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: -20px;
    -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(12px, 12px);
    transform: rotateZ(45deg) scaleX(1.25) translate(12px, 12px);
}

.navToggle7 .icon-X:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: 20px;
    -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
    transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
}

.navToggle7 .icon-X:hover {
    cursor: pointer;
}

.navToggle7.open .icon-E {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.navToggle7.open .icon-X {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.navToggle8 {
    position: absolute;
    width: 60px;
    height: 120px;
    top: 180px;
    left: 360px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.navToggle8 .icon-E {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 8px;
    width: 60px;
    top: 60px;
    background-color: #212121;
    -webkit-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.navToggle8 .icon-E:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: -20px;
}

.navToggle8 .icon-E:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: 20px;
}

.navToggle8 .icon-E:hover {
    cursor: pointer;
}

.navToggle8 .icon-X {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 0px;
    width: 60px;
    top: 60px;
    background-color: #212121;
    -webkit-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
}

.navToggle8 .icon-X:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: -20px;
    -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(12px, 12px);
    transform: rotateZ(45deg) scaleX(1.25) translate(12px, 12px);
}

.navToggle8 .icon-X:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: 20px;
    -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
    transform: rotateZ(-45deg) scaleX(1.25) translate(12px, -12px);
}

.navToggle8 .icon-X:hover {
    cursor: pointer;
}

.navToggle8.open .icon-E {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.navToggle8.open .icon-X {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.navToggle9 {
    position: absolute;
    width: 60px;
    height: 120px;
    top: 305px;
    left: 0px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.navToggle9 .icon {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 0px;
    width: 60px;
    top: 60px;
    background-color: #212121;
    top: 30px;
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    -webkit-transform-origin: 30px 30px;
    -ms-transform-origin: 30px 30px;
    transform-origin: 30px 30px;
}

.navToggle9 .icon:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 60px;
    background-color: #212121;
    content: "";
    top: 20px;
    top: 0;
}

.navToggle9 .icon:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 60px;
    background-color: #212121;
    content: "";
    top: 20px;
    top: 0;
    left: 30px;
}

.navToggle9 .icon:hover {
    cursor: pointer;
}

.navToggle9.open .icon {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}

.navToggle9.open .icon:before {
    width: 22.5px;
}

.navToggle9.open .icon:after {
    -webkit-transform-origin: 30px 60px;
    -ms-transform-origin: 30px 60px;
    transform-origin: 30px 60px;
    -webkit-transform: scaleX(0.75);
    -ms-transform: scaleX(0.75);
    transform: scaleX(0.75);
}

.navToggle9.play .icon {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}

.navToggle9.play .icon:before {
    width: 500px;
}

.navToggle9.play .icon:after {
    -webkit-transform-origin: 30px 60px;
    -ms-transform-origin: 30px 60px;
    transform-origin: 30px 60px;
    -webkit-transform: scaleX(2);
    -ms-transform: scaleX(2);
    transform: scaleX(2);
}

.navToggle10 {
    position: absolute;
    width: 60px;
    height: 120px;
    top: 300px;
    left: 120px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.navToggle10 .icon {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 8px;
    width: 60px;
    top: 60px;
    background-color: #212121;
}

.navToggle10 .icon:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: -20px;
}

.navToggle10 .icon:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 60px;
    height: 8px;
    background-color: #212121;
    content: "";
    top: 20px;
}

.navToggle10 .icon:hover {
    cursor: pointer;
}

.navToggle10.open .icon {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: rotateZ(-180deg);
    transform: rotateZ(-180deg);
}

.navToggle10.open .icon:before {
    -webkit-transform: rotateZ(-45deg) scaleX(0.75) translate(-20px, -6px);
    transform: rotateZ(-45deg) scaleX(0.75) translate(-20px, -6px);
}

.navToggle10.open .icon:after {
    -webkit-transform: rotateZ(45deg) scaleX(0.75) translate(-20px, 6px);
    transform: rotateZ(45deg) scaleX(0.75) translate(-20px, 6px);
}

.navToggle11 {
    position: absolute;
    width: 60px;
    height: 120px;
    top: 300px;
    left: 240px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.navToggle11 .icon-left {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 15px;
    top: 60px;
    background-color: #212121;
}

.navToggle11 .icon-left:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 15px;
    height: 4px;
    background-color: #212121;
    content: "";
    top: -10px;
}

.navToggle11 .icon-left:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 15px;
    height: 4px;
    background-color: #212121;
    content: "";
    top: 10px;
}

.navToggle11 .icon-left:hover {
    cursor: pointer;
}

.navToggle11 .icon-right {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 15px;
    top: 60px;
    background-color: #212121;
    left: 15px;
}

.navToggle11 .icon-right:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 15px;
    height: 4px;
    background-color: #212121;
    content: "";
    top: -10px;
}

.navToggle11 .icon-right:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 15px;
    height: 4px;
    background-color: #212121;
    content: "";
    top: 10px;
}

.navToggle11 .icon-right:hover {
    cursor: pointer;
}

.navToggle11.open .icon-left {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
}

.navToggle11.open .icon-left:before {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
    transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
}

.navToggle11.open .icon-left:after {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
}

.navToggle11.open .icon-right {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
}

.navToggle11.open .icon-right:before {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
}

.navToggle11.open .icon-right:after {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
    transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
}

.navToggle12 {
    position: absolute;
    width: 60px;
    height: 120px;
    top: 300px;
    left: 315px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.navToggle12 .icon {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 30px;
    top: 60px;
    background-color: #212121;
}

.navToggle12 .icon:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #212121;
    content: "";
    top: -10px;
}

.navToggle12 .icon:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #212121;
    content: "";
    top: 10px;
}

.navToggle12 .icon:hover {
    cursor: pointer;
}

.navToggle12.open .icon {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background: transparent;
}

.navToggle12.open .icon:before {
    -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
    transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
}

.navToggle12.open .icon:after {
    -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
    transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
}

.navToggle13 {
    position: absolute;
    width: 60px;
    height: 120px;
    top: 300px;
    left: 390px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.navToggle13 .icon {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 30px;
    top: 60px;
    background-color: #212121;
}

.navToggle13 .icon:before {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #212121;
    content: "";
    top: -10px;
}

.navToggle13 .icon:after {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #212121;
    content: "";
    top: 10px;
}

.navToggle13 .icon:hover {
    cursor: pointer;
}

.navToggle13.open .icon {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.navToggle13.open .icon:before {
    -webkit-transform: rotateZ(-45deg) scaleX(0.75) translate(-10px, -3px);
    transform: rotateZ(-45deg) scaleX(0.75) translate(-10px, -3px);
}

.navToggle13.open .icon:after {
    -webkit-transform: rotateZ(45deg) scaleX(0.75) translate(-10px, 3px);
    transform: rotateZ(45deg) scaleX(0.75) translate(-10px, 3px);
}

.activP {
    background-color: #367fa9 !important;
    color: #fff !important;
}